{% extends 'base.html.twig' %}

{% block title %}Exo formulaire{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Enregistrez vous</h1>


    <form method="post">
        <input type="text" name="email" placeholder="Votre email">
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Votre message"></textarea>
        <button type="submit">Envoyer</button>
    </form>
</div>
{% endblock %}
